body {
    font-size: 16px;
}


p {
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif; /* replace with a different font */    
    font-weight: 400;
    line-height: 1.4em;
}

h1 {
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif; /* replace with a different font */    
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.052em;
    word-spacing: 0.5em;
    margin: 0;

}

h2 {
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif; /* replace with a different font */    
    font-weight: 500;
    font-size: 2.441em;
    word-spacing: 0.2em;
    margin: 0;
    padding-top: 15px;
}

* {box-sizing:border-box}

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #4f3674;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(214,168,0,0.7);
}


.text {
  color: #4f3674;
  text-shadow: 3px 3px #D6A800;
  font-size: 60px;
  font-weight: 700;
  padding: 8px 12px;
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #4f3674;
  text-shadow: 2px 2px #D6A800;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #4f3674;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #D6A800;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



/*
color: #4f3674; purple
color: #D6A800; gold
*/